.container {
	padding: 0 15px;
	margin: 0 auto;
	border: 2px solid black;
}
/* @include mq(phone) {
	width: 448px;
} */
@include mq(tablet) {
	width: 720px;
}
@include mq(desktop) {
	width: 1200px;
}
