.logo {
	font-family: $font-alternative;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	word-spacing: -6px;

	&__item--left {
		color: $logo-color-second;
	}
	&__item--right-footer {
		color: $logo-color-third;
	}
	&__item--right-header {
		color: $logo-color;
	}
}
.logo__footer {
	font-size: 26px;
	display: flex;
	justify-content: center;
}
@media screen and (min-width: 769px) {
	.logo {
		font-size: 26px;
		line-height: 1.19;
	}
	.logo__footer {
		display: block;
		font-size: 24px;
	}
}
