.navigation {
	margin-left: 83px;

	&__list {
		display: flex;
		gap: 46px;
	}
	&__link {
		display: block;
		position: relative;
		color: $text-color-main;
		letter-spacing: 0.02em;
		font-weight: 500;
		line-height: 1.14;
		font-size: 14px;
		transition-duration: $transition-duration;
		transition-property: color;
		transition-timing-function: $transition-timing-function;
	}
	&__link:hover,
	&__link:focus {
		color: $accent-color;
	}
	@media screen and (max-width: 480px) {
		display: none;
	}
}
@media screen and (min-width: 481px) {
	.navigation {
		margin-left: 83px;
	}
}
@media screen and (min-width: 769px) {
	.navigation {
		margin-left: 93px;
	}
}
