.our-team {
	background-color: $bacground-color-filter-button;
	text-align: center;
}
.our-team__img {
	width: 450px;
	height: 460px;
}
.our-team__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
}
.our-team__list {
	display: block;
	margin-top: 50px;
	align-items: center;
}
.our-team__item {
	background-color: $background-color;
	box-shadow: $box-shadow-main;
	border-radius: 0px 0px 4px 4px;
}
.our-team__content {
	padding: 30px;
}
.our-team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.our-team__job {
	color: $text-color-secondary;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 10px;
}
@media screen and (min-width: 481px) {
	.our-team__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
	}
	.our-team__img {
		width: 354px;
		height: 374px;
	}
}
@media screen and (min-width: 769px) {
	.our-team__list {
		display: flex;
		flex-wrap: nowrap;
		margin-top: 50px;
		align-items: center;
		gap: 30px;
	}
	.our-team__img {
		width: 270px;
		height: 260px;
	}
}
