.our-strenghts__list {
	display: block;
}
.our-strenghts__item {
	display: flex;
	background-color: $bacground-color-filter-button;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	height: 120px;
	margin-bottom: 30px;
}
.our-strenghts__icon {
	width: 70px;
	height: 70px;
}
.our-strenghts__title {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.our-strenghts__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: $text-color-secondary;
	letter-spacing: 0.03em;
	margin-top: 10px;
}
@media screen and (min-width: 481px) {
	.our-strenghts__list {
		display: flex;
		flex-wrap: wrap;
		gap: 26px;
	}
	.our-strenghts__title {
		display: block;
	}
	.our-strenghts__wrapper {
		width: 354px;
	}
}
@media screen and (min-width: 769px) {
	.our-strenghts__list {
		display: flex;
		flex-wrap: nowrap;
		gap: 30px;
	}
}
