.page-header__wrapper {
	display: flex;
	align-items: center;
}
.page-header__logo {
	padding-top: 16px;
	padding-bottom: 16px;
}
.page-header__contact {
	display: none;
}
@media screen and (min-width: 768px) {
	.page-header {
		border-bottom: $header-underline-color solid 1px;
	}
	.page-header__wrapper {
		justify-content: center;
	}
	.page-header__contact {
		display: block;
		margin-left: 101px;
	}
	.page-header__logo {
		padding-top: 26px;
		padding-bottom: 26px;
	}
	.page-header__link {
		margin-bottom: 10px;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: left;
		color: $text-color-secondary;
		letter-spacing: 0.02em;
		font-weight: 500;
		line-height: 1.14;
		transition-duration: $transition-duration;
		transition-property: color;
		transition-timing-function: $transition-timing-function;
	}
	.page-header__link:hover,
	.page-header__link:focus {
		color: $accent-color;
	}
	.page-header__tel {
		margin-bottom: 0px;
	}
	.page-header__icon {
		width: 16px;
		height: 16px;
		fill: currentColor;
	}
	.page-header__icon:hover,
	.page-header__icon:focus {
		fill: $accent-color;
	}
}
@media screen and (min-width: 1200px) {
	.page-header__logo {
		padding-top: 24px;
		padding-bottom: 25px;
	}
	.page-header__link {
		margin-bottom: 0px;
	}
	.page-header__contact {
		display: flex;
		margin-left: 345px;
		gap: 30px;
		@media screen and (max-width: 480px) {
			display: none;
		}
	}
}
