$font-main: "Roboto", sans-serif;
$font-alternative: "Raleway", sans-serif;
$logo-color: #000000;
$logo-color-second: #2196f3;
$logo-color-third: #ffffff;
$text-color-main: #212121;
$text-color-secondary: #757575;
$text-color-third: #ffffff;
$text-color-footer: rgba(255, 255, 255, 0.6);
$text-color-projects-overlay: #eeeeee;
$background-color: #ffffff;
$background-color-footer: #2f303a;
$bacground-color-hero: #2f303a;
$bacground-color-filter-button: #f5f4fa;
$background-color-backdrop: rgba(0, 0, 0, 0.2);
$background-color-overlay-what-we-do: rgba(47, 48, 58, 0.8);
$accent-color: #2196f3;
$border-radius: 4px;
$header-underline-color: #ececec;
$icon-color: #afb1b8;
$modal-button-border-color: #0000001a;
$box-shadow-main: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-projects-link: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
	1px 4px 6px rgba(0, 0, 0, 0.16);
$box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
$box-shadow-filters-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
	0px 2px 2px rgba(0, 0, 0, 0.12);
$border-color-form-content: rgba(33, 33, 33, 0.2);
$newsletter-input-border: 1px solid rgba(255, 255, 255, 0.3);
$newsletter-input-color: rgba(255, 255, 255, 0.6);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$form-textarea-content-color: rgba(117, 117, 117, 0.5);
$background-color-social-footer: rgba(255, 255, 255, 0.1);
